@import url("./fonts.css");

:root {
  --hw-primary: #2e1b1b;
  --hw-secondary: #f4f4f4;
  --hw-danger: #e65656;
  --hw-success: #78e656;
  --hw-warning: #e6d356;
  --hw-info: #56a8e6;
}

::selection {
  background-color: var(--hw-secondary);
  color: var(--hw-primary);
}

html {
  background-color: var(--hw-primary);
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: 2px solid var(--hw-secondary);
  outline-offset: 0.25rem;
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: blink-outline 1s steps(2) infinite;
  }
}

a {
  text-underline-offset: 0.25rem;
}

@keyframes blink-outline {
  from {
    outline: 2px solid var(--hw-secondary);
  }

  to {
    outline: 2px solid transparent;
  }
}
