@font-face {
  font-family: "IBM BIOS";
  src: url("../fonts/ibm-bios/Web437-IBM-BIOS.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IBM BIOS 2Y";
  src: url("../fonts/ibm-bios/Web437-IBM-BIOS-2y.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "IBM BIOS", monospace;
  color: var(--hw-secondary);
  font-weight: 700;
}

/** Font size **/

.text-lg {
  font-size: 1rem;
  line-height: 1.5;
}

.text-md {
  font-size: 0.8rem;
  line-height: 1.7;
}

.text-sm {
  font-size: 0.7rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .text-lg {
    font-size: 1.25rem;
  }

  .text-md {
    font-size: 0.9rem;
  }

  .text-sm {
    font-size: 0.7rem;
  }
}

@media (min-width: 1400px) {
  .text-lg {
    font-size: 1.4rem;
  }

  .text-md {
    font-size: 1rem;
    line-height: 2;
  }

  .text-sm {
    font-size: 0.8rem;
  }
}

/** Font utilities **/

.text-uppercase {
  text-transform: uppercase;
}
