@import url("./fonts.css");

:root {
  --ghc-primary: #2e1b1b;
  --ghc-secondary: #f4f4f4;
  --ghc-danger: #e65656;
  --ghc-success: #78e656;
  --ghc-warning: #e6d356;
  --ghc-info: #56a8e6;
}

::selection {
  background-color: var(--ghc-secondary);
  color: var(--ghc-primary);
}

html {
  background-color: var(--ghc-primary);
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: 2px solid var(--ghc-secondary);
  outline-offset: 0.25rem;
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: blink-outline 1s steps(2) infinite;
  }
}

a {
  text-underline-offset: 0.25rem;
}

a:hover {
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  a:hover {
    animation: blink-opacity 1s steps(2) infinite;
  }
}

@keyframes blink-outline {
  from {
    outline: 2px solid var(--ghc-secondary);
  }

  to {
    outline: 2px solid transparent;
  }
}

@keyframes blink-opacity {
  from {
    opacity: 1;
  }

  to {
    outline: 0.5;
  }
}
